.about
    h2.heading--secondary.about__heading About me
    .lines 
    .about__container
        .about__details
            .about_description
                h3.heading--tertiary Howdy!
                p.about__paragraph On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by th charms of pleasure of the moment, so blinded by desire, tht they cannot foresee the pain and trouble that are
                button.u-mt-sm.btn.btn--dark.btn--sm-rounded Download my cv
        .about__skills
            ul.about__items
                li.about__item
                    p.about__skill HTML and CSS 
                    span.about__skill-radar 
                li.about__item
                    p.about__skill HTML and CSS 
                    span.about__skill-radar 
                li.about__item
                    p.about__skill HTML and CSS 
                    span.about__skill-radar 