mixin navItem(name)
        li.nav__item
        a.nav__link(href='#' class!=attributes.class)= name
        


.header
    nav.nav
        .nav__container
            img.nav__logo(src='/img/logo.png')

            ul.nav__list
                +navItem('Home')(class="nav__link--active")
                +navItem('About')
                +navItem('Portfolio')
                +navItem('Services')
                +navItem('Blog')
                +navItem('Contact')
            .nav__hamburger-menu
                .nav__hamburger-icon
    .content serunt facilis doloremque aperiam veniam dolorum repellat reprehenderit dicta atque nulla amet!
