mixin navItem(name)
    
        li.nav__item
            a.nav__link(href='#')= name


.header
    nav.nav
        .nav__container
            img.nav__logo(src='/img/logo.png')

            ul.nav__list
                +navItem('Home')
                +navItem('About')
                +navItem('Portfolio')
                +navItem('Services')
                +navItem('Blog')
                +navItem('Contact')
            .nav__hamburger-menu
    .content Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cum doloremque nesciunt, ab veniam eligendi sapiente ipsum perferendis dolorum vero enim laborum temporibus labore numquam aspernatur debitis eum illo! Iste ipsam animi provident voluptas similique recusandae, vel exercitationem, deserunt facilis doloremque aperiam veniam dolorum repellat reprehenderit dicta atque nulla amet!
