mixin navItem(name)
        li.nav__item
        a.nav__link(href='#' class!=attributes.class)= name
        


.header
    nav.nav
        .nav__container
            img.nav__logo(src='/img/logo.png')

            ul.nav__list
                +navItem('Home')(class="nav__link--active")
                +navItem('About')
                +navItem('Portfolio')
                +navItem('Services')
                +navItem('Blog')
                +navItem('Contact')
            .nav__hamburger-menu
                .nav__hamburger-icon
    .content
        .content__details
            h3.content__title Hello, my name is
                <br>
                span.content__developer-name Imran Great
            p.content__description On the other hand, we denouce with righteous indignation and dislike men who are beguiled demord by
            button.u-mt-sm.btn.btn--dark.btn--sm-rounded My work
        .content__img-box
            img.content__img(src='/img/layer.png')
