.u-center-text {
    text-align: center;
}

// MARGIN-BOTTOM

.u-mb-sm {
    margin-bottom: 1.5rem !important;
}

.u-mb-md {
    margin-bottom: 4rem !important;
    @include respond(tab-portrait) {
        margin-bottom: 2.5rem !important;
    }
}

.u-mb-lg {
    margin-bottom: 8rem !important;
    @include respond(tab-portrait) {
        margin-bottom: 4rem !important;
    }
}

.u-mb-xl {
    margin-bottom: 12rem !important;
    @include respond(tab-portrait) {
        margin-bottom: 8rem !important;
    }
}


// MARGIN-TOP

.u-mt-sm {
    margin-top: 1.5rem !important;
}

.u-mt-md {
    margin-top: 4rem !important;
    @include respond(tab-portrait) {
        margin-top: 2.5rem !important;
    }
}

.u-mt-lg {
    margin-top: 8rem;
    @include respond(tab-portrait) {
        margin-top: 4rem !important;
    }
}

.u-mt-xl {
    margin-top: 12rem;
    @include respond(tab-portrait) {
        margin-top: 8rem !important;
    }
}


.container {
    max-width: $grid-width;
    margin: 0 auto;
}

// Headings
[class^="heading--"] {
    font-weight: 600;
    color: $color-dark-5;
}

.heading {
    
    &--secondary {
        font-size: 3.5rem;
        text-transform: uppercase;
    }

    &--tertiary {
        font-size: 2.3rem;
    }
}

.lines {
    height: 2px;
    background-color: $color-grey-3;
    width: 60px;
    margin: 0 auto;
    position: relative;
    margin-top: 1rem;

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 50%;
        width: 100px;
        height: 2px;
        background-color: inherit;
        transform: translateX(-50%);
    }
}
